<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ACME</title>
link(href='css/bootstrap.css', rel='stylesheet')
link(href='css/acme.css', rel='stylesheet')
</head>

<body>


<div class="container">
<p><img src="img/acme1.png" alt="ACME" width="204" /></p> 

<form method="post" action="account" class="form-signin">
<label>Email address</label>
<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
<label>Password</label>
<input type="password" id="pw" name="pw" class="form-control" placeholder="Password" required>
div.msg= message
<button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Login in</button>

</form>

</div>

</body>
</html>
